# Mongo
MONGODB_CONNECTION_STRING=

# Postgres
DATABASE_URL=postgresql://user:password@localhost:5432/shield

# Trino
TRINO_SERVER=
TRINO_CATALOG=
TRINO_SCHEMA=
TRINO_ADMIN_USER=
TRINO_ADMIN_PASSWORD=

# Keycloak
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REDIRECT_URI=

# External Api
EXTERNAL_API_USER=
EXTERNAL_API_PASSWORD=

# Jira
JIRA_URL=
JIRA_USER=
JIRA_PASSWORD=
JIRA_DESK_ID=
JIRA_GROUP_ID=

# Kafka
KAFKA_BROKERS=
KAFKA_CLIENT=
KAFKA_PRODUCER_LENS_TOPIC=

# Lens Handler
LENS_HANDLER_URL=

# Opa
OPA_CLIENT_URL=

# Redis
REDIS_HOST=
REDIS_PASSWORD=

# Misc
PORT=
ENV=
CLIENT_HOST=
UNIQUE_POPULATION_OPTIONS_TABLE=

# OpenTelemetry (Shouln't be local)
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_SERVICE_NAME=